.main-container {
  height: 1440px;
  width: 1440px;
}

.main-grid {
  display:grid;
  grid-template-rows: 145px 145px 145px 145px;
  grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px;
  grid-gap: 1.3em;
}
.header {
  color: #86bbd8;
  width: 100%;
  padding: 10px;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  background-color: rgba(var(--color-background-rgb), 0.4);
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20000002;
  position: fixed;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  overflow: hidden;
}
.nav{
  display: flex;
  justify-content: space-between;
}

.notSelected {
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}

.notSelected::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.notSelected:hover::after {
  width: 100%;
  background: #86bbd8;
}

.photo-grid {
  grid-area: 2 / 2 / 3/ 5;
  z-index: 1;
  border-radius: 20px;
}

.service-photo{
  border-radius: 20px;
}


.blurb-n-button {
grid-area: 2 / 5 / 2 / 7;
}

.para1 {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  text-align: justify;
  
}
.para2 {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  text-align: justify;
}
.button-container{
display: flex;
align-content: center;
justify-content: center;
margin-top: 20px;
}

.button{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.service-container{
 display: grid;
 grid-template-columns: repeat(12, minmax(0,1fr));
 grid-template-rows: 122px 122px 122px 122px 122PX ;
 gap:.5rem;
 max-width: 1440px;
 max-height: 1440px;
}

.hr{
  color: black;
}

.vertical-line{
  width: 5px;
  height: 500px;
  background-color: black;
  grid-area: 2 / 2 / 5 / 2;
 
}

.left-info{
  grid-area: 3 / 3 / 6 / 5;
}

.header-pg2{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -90px;
  margin-bottom: 30px;
  border-style: underline;
}


ul {
  list-style: circle;
  padding-left: 40px;
  
}

li{
  margin: 15px 0;
  font-family: 'Times New Roman', Times, serif;
}


.right-info{
  grid-area: 3 / 8 / 5 / 8 ;
  
}

.right-heading-pg2 {
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -90px;
  margin-bottom: 30px;
  border-style: underline;
}

.right-list {
  margin: 15px 0;
  font-family: 'Times New Roman', Times, serif;
}

